/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
body{
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
.text-danger {
  font-weight: bold;
}
